.chatting-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
}

.a{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    background-color: teal;
}

/* .chatting-log{
    display: flex;
    flex-direction: column;
} */

.chat__notice{
    color: white;
    background-color: #3a4fad;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 25px;
    margin: 10px 0px;
}

/* ---------- */

.message-row {
    width: 100%;
    display: flex;
    margin: 7px 0px;
}

.message__author {
margin-bottom: 5px;
display: block;
}

.message__info {
display: flex;
align-items: flex-end;
}

.message__bubble {
background-color: #bfc9fb;
padding: 13px;
font-size: 13px;
border-radius: 15px;
border-top-left-radius: 0px;
margin-right: 5px;
word-break: break-word;
}
.message__image{
    width: 200px;
    height: auto;
}

.message__document{
    display:flex;
}

.document__text{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-size: 10px;
}

.document__text__name{
    font-size: 13px;
    font-weight: bold;
}

.document__icon{
    font-size: 25px;
}

.streamer-bubble{
    background-color: teal;
}

.message__time,
.message__author {
opacity: 0.9;
font-size: 12.5px;
}

.message-row--own {
justify-content: flex-end;
}

.message-row--own .message__bubble {
background-color: #99aafc;
border-top-right-radius: 0px;
border-top-left-radius: 15px;
margin-right: 0px;
margin-left: 5px;
}

.message-row--own .message__info {
flex-direction: row-reverse;
}