.questionBox{
    margin: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #c1c1c1;
    font-size: 14px;
}

.questionHeader{
    display: flex;
    justify-content: space-between;
}

.questionWriter{
    font-weight: 700;
}

.questionBody{
    margin: 10px 0px;
}

.questionText{
    word-break: break-word;
}
.questionFooter{
    display: flex;
    flex-direction: row;
}

.questionLove{
    padding: 5px 10px;
    background-color: #d7d7d7;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 13px;
}

.questionLove i {
    padding-right: 5px;
    color: white;
}

.questionComments{
    padding: 5px 10px;
    background-color: #3a4fad;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 13px;
}

.questionComments i{
    padding-right: 5px;
    color: white;
}

.questionComments span{
    color: white;
}

.inputComments{
    margin-top: 10px;
}

.openComments{
    margin: 10px 0px;
    background-color: #99aafc;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}

.closeBtn{
    display: flex;
    flex-direction: row-reverse;
}

.commentsText{
    display: block;
    margin: 8px 5px;
}

.commentsWriter{
    margin-left: 10px;
    color: #4d4d4d;
    font-weight: 700;
}

.inputCommentsBtn{
    position: relative;
    display: inline;
}

.inputCommentsBtn input{
    border-radius: 20px;
    border: solid 1px #4d4d4d;
    margin-left: 10px;
    width: 250px;
    height: 20px;
}

.inputCommentsBtn i{
    position: absolute;
    left: 242px;
    top: 2px;
}