.questionBox{
    margin: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #c1c1c1;
    font-size: 14px;
}

.questionHeader{
    display: flex;
    justify-content: space-between;
}

.questionWriter{
    font-weight: 700;
}

.questionBody{
    margin: 10px 0px;
}

.questionText{
    word-break: break-word;
}
.questionFooter{
    display: flex;
    flex-direction: row;
}

.questionLike{
    padding: 5px 10px;
    background-color: #d7d7d7;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 13px;
}

.questionLike i {
    padding-right: 5px;
    color: white;
}

.questionComments{
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 13px;
    background-color: #d7d7d7;
}

.questionComments i{
    padding-right: 5px;   
    color: white; 
}


.inputComments{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.openComments{
    margin: 10px 0px;
    background-color: #99aafc;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
}

.closeBtn{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.commentsText{
    display: block;
    margin: 8px 5px;
    font-weight: 700;
    word-break: break-word;
}

.commentsWriter{
    margin: 10px;
    font-weight: 700;
}

.inputCommentsBtn{
    position: relative;
    display: flex;
    width: 250px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    margin-left: 10px;
    align-items: center;
    border: solid 1px rgb(75, 75, 75);
}

.inputCommentsBtn input{
    border-radius: 20px;
    width: 220px;
    border: none;
    background-color: white;
    margin-right: 4px;
}

.questionBG{
    background-color: #3a4fad;
    color: white;
}