.chat__notice [김지영] 님이 입장하셨습니다.

.message-row
    .message-row__content
        span.message__author 김성영
        .message__info
            span.message__bubble 안녕하세용!
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            span.message__time 21:27

.message-row.message-row--own
    .message-row__content
        .message__info
            span.message__bubble ㅋㅋ안녕하세욤!ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            span.message__time 21:27