.question-box
    .question-header
        .question-title-wirter
            .question-title
                span Q1. 질문 제목입니다.
            .question-writer
                span 작성자 : 김지영 작성일자 : 2020-10-18 2:59
        .question-love
            i.far.fa-heart
            span 10    
    .question-body
        .question-text 
            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit similique ad quo suscipit soluta possimus asperiores perferendis. Voluptatibus voluptas magni velit nesciunt totam a omnis repellendus sint, obcaecati deserunt!
        .question-img
            img(src="/upload/미어캣.jpeg")
        .question-text 
            span Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit similique ad quo suscipit soluta possimus asperiores perferendis. Voluptatibus voluptas magni velit nesciunt totam a omnis repellendus sint, obcaecati deserunt!
    .question-filelist
        span 첨부파일

        .question-file.message__document
            .document__text
                span.document__text__name 이진영 10-1 (1) (1) (1).docx
                span 15565bytes
            a(href="/upload/이진영 10-1 (1) (1) (1).docx" download="이진영 10-1 (1) (1) (1).docx")
                i.document__icon.far.fa-arrow-alt-circle-down

        .question-file.message__document
            .document__text
                span.document__text__name 이진영 10-1 (1) (1) (1).docx
                span 15565bytes
            a(href="/upload/이진영 10-1 (1) (1) (1).docx" download="이진영 10-1 (1) (1) (1).docx")
                i.document__icon.far.fa-arrow-alt-circle-down
