//- .questionBox
//-     .questionHeader
//-         .questionWriter
//-             span 김지영
//-         .questionTime
//-             span 10:29
//-     .questionBody
//-         .questionText
//-             span 레쥬메 작성 팁도 알려주시면 좋을 것 같아요.
//-     .questionFooter
//-         .questionLove
//-             i.fas.fa-heart
//-             span 10
//-         .questionComments
//-             i.fas.fa-comment
//-             span 02
//-     .openComments
//-         .closeBtn
//-             span 닫기
//-         .Comments
//-             img(src="img/Group.png")
//-             span.commentsWriter 김지영
//-             span.commentsText 구글링 하면 좋은 예시들 많이 나오긴해요!
//-         .Comments
//-             img(src="img/Group.png")
//-             span.commentsWriter 김지영
//-             span.commentsText 구글링 하면 좋은 예시들 많이 나오긴해요!
//-         .inputComments
//-             img(src="img/Group.png")
//-             .inputCommentsBtn
//-                 input
//-                 i.far.fa-paper-plane