.sidebar__asides
    .aside-container.chatting-container
        .aside-header
            span chatting
            i.fas.fa-times.chattingclose
        .aside-contents
            include sidebar-asides-chatting

    .aside-container.question-container
        .aside-header
            span question
            i.fas.fa-times.questionclose
        .aside-contents
            include sidebar-asides-question
            
    .aside-container.joinusers-container
        .aside-header
            span joinUsers
            i.fas.fa-times.joinusersclose
        .aside-contents
            include sidebar-asides-joinusers