.sidebar__btn
        ul.btn__list
                li.btn__list__item.test
                        i.fas.fa-comments.item__icon
                li.btn__list__item
                        i.fas.fa-question-circle.item__icon
                li.btn__list__item
                        i.fas.fa-user-friends.item__icon
