extends layouts/streaming

block links
    script(src="js/event.js")
    script(src="js/moving.js")
    script(src="socket.io.js")
    script(src="socket.io-file-client.js")
    script(src="js/streamer/streamerElement.js")
    script(src="js/joinuser.js")
    script(src="js/videoPlayer.js")
    script(src="js/streamer/streamer.js")
    script(src="js/streamer/streamerSocketHandler.js")
    script(src="js/chatting.js")
    script(src="js/question.js")
    script(src="js/upload.js")
    script(src="js/files.js")