extends layouts/streaming

block links
    script(src="js/event.js")
    script(src="js/moving.js")
    script(src="/socket.io/socket.io.js")
    script(src="js/streamer.js")
    script(src="js/chatting.js")
    
block footer
    section.select
        label Audio source:
        select(id="audioSource")
    section.select
        label Video source:
        select(id="videoSource")
