extends layouts/streaming

block links
    script(src="js/event.js")
    script(src="js/moving.js")
    script(src="socket.io.js")
    script(src="socket.io-file-client.js")
    script(src="js/streamer.js")
    script(src="js/chatting.js")
    script(src="js/videoPlayer.js")