@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";

/* Components */
@import "components/screen.css";
@import "components/screen-header.css";
@import "components/screen-footer.css";
@import "components/sidebar-btn.css";
@import "components/sidebar-contents.css";
@import "components/chatting-contents.css";
@import "components/question-contents.css";
@import "components/joinusers-contents.css";
@import "components/chatting-form.css";
@import "components/question-form.css";

/* Screens */
@import "screens/join.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
}