.question-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.question-form__input{
    padding: 7px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 82%;
    font-size: 13px;
}

.question-form__button{
    border-radius: 50%;
    border:1px solid rgba(0, 0, 0, 0.2);
    padding: 7px 9px;
}

.question-form__button:hover{
    background-color: #cacaca;
}