.sidebar-btn{
    background-color: #e6e8e9;
    flex-basis: 66px;
}

.btn__list{
    display: flex;
    flex-direction: column;
    background-color: #e6e8e9;
    align-items: center;
}

.btn__list__item{
    padding: 15px 13px;
    margin: 0 0 10px;
}

.item__icon{
    opacity:0.5;
    width: 40px;
    height: 32px;
    font-size: 32px;
    text-align: center;
}

.open-chatting:hover > i {
    opacity: 1;
}

.open-question:hover > i {
    opacity: 1;
} 

.open-Files:hover > i {
    opacity: 1;
} 


.i-active{
    opacity: 1;
}

.li-active{
    background-color: #d0d1d1;
} 

.li-active i{
    opacity: 1;
}