.sidebar-btn
        ul.btn__list
                li.btn__list__item.open-chatting.li-active
                        i.fas.fa-comments.item__icon
                li.btn__list__item.open-question
                        i.fas.fa-question-circle.item__icon
                li.btn__list__item.open-Files
                        i.fas.fa-archive.item__icon
