.sidebar-contents

    .chatting-container.container
        .container-header
            span chatting
            i.fas.fa-times.close-btn
        .container-contents.chatting-contents.chatting-log
        include form/chatting-form

    .question-container.container.hidden
        .container-header
            span question
            i.fas.fa-times.close-btn
        .container-contents.question-contents
        include form/question-form

    .Files-container.container.hidden
        .container-header
            span Files
            i.fas.fa-times.close-btn
        .Files-Btns
                button.Btns.pushed#Files-Btn-image Image
                button.Btns#Files-Btn-file File
        .container-contents.Image-contents
        .container-contents.Files-contents.hidden