form.chatting-form
    .chatting-form__column
        i.far.fa-plus-square.fa-lg
    .chatting-form__column
        input(type="text",placeholder="Write a message...")
        button
            i.fas.fa-arrow-up