div.chatting-form
    label(for="fileSelect").fas.fa-link.fa-lg
    input(multiple="multiple" type="file" id="fileSelect").chatting-form__file
    input(type="text",placeholder="Write a message...").chatting-form__input
    button(type="button").chatting-form__button
        i.fas.fa-arrow-up
