div.question-form
    label(for="questionFileSelect").fas.fa-link.fa-lg
    input(multiple="multiple" type="file" id="questionFileSelect").question-form__file
    input(type="text",placeholder="Write a message...").question-form__input
    button(type="button").question-form__button
        i.fas.fa-arrow-up