.screen{
    flex:1;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 431px);
}

.videoPlayer__live{
    position: absolute;
    left: 47%;
    color: #5470ff;
    top: 10px;
    opacity: 0;
    font-size: 14px;
}

.fas.fa-wifi, .fa-user{
    margin-right: 4px;
}

.fas.fa-wifi ~span{
    margin-right: 10px;
}

.videoPlayer:hover .videoPlayer__live{
    opacity: 1;
}

.videoPlayer{
    flex:1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 104px);
}

.videoPlayer:hover .videoPlayer__controls{
    opacity: 1;
}

.screen-video{
    transform: rotateY(180deg);         
    -webkit-transform:rotateY(180deg);     
    -moz-transform:rotateY(180deg);
    height: 100%;
    width: 100%;
}

.videoPlayer__controls{
    display: flex;
    justify-content: space-between;
    background-color: rgba( 0, 0, 0, 0.5 );
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 19px;
    opacity: 0;
    height: 40px;
    align-items: center;
}

.videoPlayer__column{
    display: flex;
}

.videoBtn{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#jsPlayTime{
    font-size: 17px;
    width: 75px;
}

#jsFullScreen{
    margin-right: 10px;
}

#jsFullScreen:hover{
    background-color: rgba( 0, 0, 0, 0.6 );
}

#jsPlayButton:hover{
    background-color: rgba( 0, 0, 0, 0.6 );
}

.balloon_01 {
    position: relative;
    margin: 15px;
    background: #e6e8e9;
    border-radius: 10px;
    padding: 10px;
    display: none;
    margin-left: 40px;
}
.balloon_01:after {
    border-top: 0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e6e8e9;
    content: "";
    position: absolute;
    top: -10px;
    left: 18px;
}
.balloon_01 span{
    display: block;
}

.videoPlayer__live:hover .balloon_01{
    display: block;
}