.screen-footer{
    background-color: #5470ff;
    display: flex;
    flex-direction: row;
    flex-basis: 52px;
    align-items: center;
}

.footer__option{
    background-color: white;
    margin: 5px 13px;
    border-radius: 17px;
    font-size: 15px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    display: flex;
}
.iwrap{
    width: 35px;
    height: 34px;
    border-radius: 17px;
    background-color: white;
    border: solid 1px gray;
}

.footer__option select{
    border: none;
    border-radius: 17px;
    outline: none;
    width: 0px;
    transition: width 0.3s ease-in-out;
}

.iwrap:hover{
    background-color: #d5d6d6;
}

._disable{
    background-color: #d5d6d6;
}

.scrnIcon{
    position: relative;
}
.audioOutputIcon{
    position: relative;
}
.fa-slash{
    position: absolute;
    left: -1px;
    top: -1px;
}
.slh{
    color: white;
    top: 1px;
}

.videoSelectWrap:hover ~#videoSource{
    width: 300px;
}
#videoSource:hover{
    width: 300px;
}

.audioSelectWrap:hover ~#audioSource{
    width: 300px;
}

#audioSource:hover{
    width: 300px;
}

.audioOutputSelectWrap:hover ~#audioOutputSource{
    width: 300px;
}

#audioOutputSource:hover{
    width: 300px;
}