.screen-header{
    flex-basis: 52px;
    background-color: #5470ff;
    display: flex;
    align-items: center;
}

.header__logo{
    margin-left: 10px;
}

.logo__img{
    width: 110px;
    height: 39px;
    border-radius: 25px;
}

.header__streamername,
.header__roomname{
    margin-left: 20px;
    color: mintcream;
}

.haeder__exit{
    margin-left: auto;
}

.exit__button:hover{
    background-color: #3a4fad;
}

.exit__button{
    background-color: #455ecd;
    padding: 8px 19px;
    border-radius: 20px;
    margin-right: 12px;
    color: mintcream;
}