.screen-footer{
    background-color: #5470ff;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 52px;
    align-items: center;
}

.footer__option{
    background-color: white;
    margin: 5px;
    margin-right: 13px;
    border-radius: 17px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    text-align:center;
    line-height: 35px;
}

.footer__option:hover{
    background-color: #d5d6d6;
}

.select{
    margin-right: 15px;
}