.review-container.hidden
    .background
    .reviewBox
        .review-header
            span 
            i.fas.fa-times
        .review-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .review-keyword
            button.keyword-Btn 전문성
            button.keyword-Btn 친절도
            button.keyword-Btn 재미
            button.keyword-Btn 유익함
            button.keyword-Btn 전달력
            button.keyword-Btn 비용
        .review-comment
            textarea
        .review-submit
            button 제출하기