.screen-header
    .header__logo
        img.logo__img(src="img/logo.png")
    .header__roomname
        span RoomName :
        span.roomName #{roomName}
    .header__streamername
        span UserName : 
        span.userName #{userName}
    .haeder__exit
        botton.exit__button Exit