.screen-header
    .header__logo
        img.logo__img(src="img/logo.png")
    .header__roomname
        span.roomname__text RoomName : #{roomName}
    .header__streamername
        span.streamername__text UserName : #{userName}
    .haeder__exit
        botton.exit__button Exit