.screen-footer
    .footer__option
        .iwrap.scrnSharWrap.hoverb
            i.fas.fa-desktop.scrnIcon
                i.fas.fa-slash
                i.fas.fa-slash.slh
    .footer__option
        .iwrap.videoSelectWrap.hoverb
            i.fas.fa-video.videoIcon
        select(id="videoSource")
    .footer__option
        .iwrap.audioSelectWrap.hoverb
            i.fas.fa-microphone.audioIcon
        select(id="audioSource")    
    .footer__option
        .iwrap.audioOutputSelectWrap.hoverb
            i.fas.fa-headphones.audioOutputIcon
        select(id="audioOutputSource")
