.screen-footer
    .footer__option
        .iwrap.scrnSharWrap
            i.fas.fa-desktop.scrnIcon
    .footer__option
        .iwrap.videoSelectWrap
            i.fas.fa-video.videoIcon
        select(id="videoSource")
    .footer__option
        .iwrap.audioSelectWrap
            i.fas.fa-microphone.audioIcon
        select(id="audioSource")    
    .footer__option
        .iwrap.audioOutputSelectWrap
            i.fas.fa-headphones.audioOutputIcon
        select(id="audioOutputSource")
